<div class="index-main">
  <div class="container-fluid w-50 p-5">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome...">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensagem:</label>
      <textarea placeholder="Deixe sua mensagem..." class="form-control" id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>
    <button class="w-100 btn btn-primary">Enviar</button>
  </div>
</div>