<div class="index-main container-fluid">
  <div class="d-flex row justify-content-center p-4 text-center">
    <div class="col">
      <img class="rounded-circle mb-2" src="/assets/sobre/caue.jpeg" width="200" alt="">
      <p>Cauê Castello</p>
      <p>RA: 201911020024</p>
    </div>
    <div class="col">
      <img class="rounded-circle mb-2" src="/assets/sobre/cindy.jpg" width="200" alt="">
      <p>Cindel Evelyn</p>
      <p>RA: 201811020026</p>
    </div>
    <div class="col">
      <img class="rounded-circle mb-2" src="/assets/sobre/cintra.jpeg" width="200" alt="">
      <p>Cristhian Cintra</p>
      <p>RA: 14181000228G1402</p>
    </div>
    <div class="col">
      <img class="rounded-circle mb-2" src="/assets/sobre/mi.jpeg" width="200" alt="">
      <p>Milena de Faria</p>
      <p>RA: 201911020033</p>
    </div>
    <div class="col">
      <img class="rounded-circle mb-2" src="/assets/sobre/tarcio.jpeg" width="200" alt="">
      <p>Tarcio Henrique</p>
      <p>RA: 201811020028</p>
    </div>
  </div>
</div>