<div class="container-fluid">
  <div class="index-main row d-flex align-items-center justify-content-center">


    <div class="col-xl-4 col-xs-12 d-flex align-items-center justify-content-center">
      <img src="/assets/done_img.png" width="300" alt="sucesso na compra">
    </div>


    <div class="d-flex flex-column col-xl-8 col-xs-12 w-75 text-center align-items-center">
      <h2>Compra realizada com sucesso!</h2>
      <h3><strong>A espera de um milagre</strong></h3>

      <div class="d-flex flex-row justify-content-between w-25">
        <p>sessão: 20h</p>
        <p>cadeira: B4</p>
      </div>
    </div>
  </div>
</div>